html {
    background-color: #372b80;
    scroll-behavior: smooth;
}

.navtop {
    background-color: #222129;
    overflow: hidden;
}

.navtop a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
    font-size: 17px;
    height: 40px;
    width: 40px;
    font-family: 'Titillium Web', sans-serif;
}
.navtop :hover {
    background-color: #372b80;
    color: white;
}

.navtop a.active {
    background-color: #372b80;
    color: white;
}

.navtop a.split {
    float: right;
}
.navtop img {
    float: left;
    padding: 14px 16px;
    height: 40px;
    width: 40px;
    pointer-events: none;
}

.webtitle {
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Trispace', sans-serif;
    padding-top: 80px;
}

#webcontent {
    padding-top: 5px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.webcontent p{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

.banner {
    background-color: #372b80;
    color: #f2f2f2;
    text-align: center;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
    height: 175px;
    padding-top: 100px;
}

.welcome-buttons{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 25px;
}

.welcome-buttons :hover {
    background-color: black;
    color: white;
    transition-duration: 0.3s;
}

.discord {
    background-color: #372b80;
    color: #f2f2f2;
    text-align: center;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
    border: 2px solid black
}

.site {
    background-color: #372b80;
    color: #f2f2f2;
    text-align: center;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
    border: 2px solid black
}

.store {
    background-color: #372b80;
    color: #f2f2f2;
    text-align: center;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
    border: 2px solid black
}

.welcome-section {
    height: 100vh;
}

.skiptocontent  {
    background-color: #372b80;
    color: #f2f2f2;
    text-align: center;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
    border: 2px solid black;
}

.skipbutton {
    background-color: #372b80;
    color: #f2f2f2;
    text-align: center;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
    padding-top: 200px;

}

.skipbutton :hover {
    background-color: black;
    color: white;
    transition-duration: 0.3s;
}

.description-section {
    height: 100vh;
}

.scrollbutton  {
    background-color: #372b80;
    color: #f2f2f2;
    text-align: center;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
    border: 2px solid black;
}

.scrolltop  {
    background-color: #372b80;
    color: #f2f2f2;
    text-align: center;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding: 10px;
}

.scrolltop :hover {
    background-color: black;
    color: white;
    transition-duration: 0.3s;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #372b80;
    font-size: 20px;
}
